@media (max-width: 768px) {

    #nav .row .nav_item,
    .subscribe {
        display: none;
    }

    #nav .row {
        justify-content: space-between;
    }

    #nav .row .responsive_bar {
        display: block;
    }


    #banner .container {
        height: 200px;
        display: none;
    }

    #banner .img {
        width: 50%;
        margin-top: 0px;
    }

    #banner .img img {
        width: 40%;
    }

    #banner .img span {
        top: 86px;
        right: -6px;
    }

    #podcast .service {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #grid_section h2 {
        margin-top: 60px;
    }

    #grid_section .grid {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: auto;
        padding: 5px;
        padding-top: 20px;
    }

    #grid_section .grid .big_layout {
        grid-column: span 1;
        grid-row: span 1;
    }

    #grid_section .grid .medium_layout {
        grid-column: span 1;
        grid-row: span 1;
    }

    #grid_section .grid .small_layout {
        grid-column: span 1;
        grid-row: span 1;
    }

    #vdo_card .row {
        display: flex;
        flex-direction: column;
    }

    #vdo_card .row .card,
    .content {
        width: 80%;
    }

    #vdo_card .row .card .vdo iframe {
        width: 100%;
    }

    #vdo_card h2 {
        font-weight: 600;
        font-size: 46px;
    }
}