body {
    /* background: #412567; */
    background: #1A0B2E;
}

#nav {
    margin-top: 20px;
}

#nav .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav .row .responsive_bar {
    display: none;
}

#nav .row .nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav .row .nav_item ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav .row .nav_item ul li {
    list-style-type: none;
}

#nav .row .nav_item ul li a {
    text-decoration: none;
    margin-left: 32px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

#nav .row .subscribe a {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(48deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}

#nav .row .subscribe a:hover {
    transform: scale(1.10);
    transition: 0.2s;
}

#nav .row .subscribe a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

#banner {
    text-align: center;
}

#banner .container {
    margin-top: 20px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    height: 760px;

}

#banner .img {
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 350px;
    height: 350px;
    margin-top: 100px;
    position: relative;
}

#banner .img span {
    position: absolute;
    top: 45px;
    right: 20px;
    display: block;
    border-radius: 1000px;
    padding: 8px 16px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    background: #00ff88;
    font-weight: 600;
    font-size: 18px;
    color: #1a0b2e;
}

#banner .text h3 {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-top: 40px;
}

#banner .text p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

#banner .btn a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: 1px solid #00ff88;
    border-radius: 10000px;
    padding: 12px 20px;
    margin-right: 10px;
    margin-top: 24px;
}

#banner .btn a:hover {
    background: linear-gradient(48deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
    transform: scale(1.10);
    transition: 0.2s;
    border: none;
}

#banner .btn a span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

#podcast {
    text-align: center;
}

#podcast .content {
    margin: auto;
}

#podcast .container h3 {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
}

#podcast .content p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

#podcast .service {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#podcast .service .item h6 {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #00ff88;
    margin: 0;
}

#podcast .nothing {
    border-top: 1px solid #fff;
    margin: 80px 100px;
}

#podcast .service .item p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

#grid_section .container {
    background: #230E3D;
    padding: 20px;
}

#grid_section h2 {
    margin-top: 120px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #ffffff;
}

#grid_section .grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    padding: 100px;
    padding-top: 20px;
}

#grid_section .grid_items:hover {
    transform: scale(1.03);
    transition: 0.2s;
    border: 1px solid #00ff88;
}

#grid_section .grid .grid_items {
    border-radius: 40px;
    padding: 40px;
    background: #351165;
    cursor: pointer;
}

#grid_section .grid img {
    margin-top: 40px;
}

#grid_section .grid h3 {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    margin-top: 16px;
}

#grid_section .grid p {
    font-weight: 400;
    font-size: 16px;
    color: #ffffffa5;
    margin-top: 16px;
}

#grid_section .grid .big_layout {
    grid-column: span 2;
    grid-row: span 1;
}

#grid_section .grid .medium_layout {
    grid-column: span 1;
    grid-row: span 2;
}

#grid_section .grid .small_layout {
    grid-column: span 1;
    grid-row: span 1;
}

#vdo_card h2 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #ffffff;
}

#vdo_card .row {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 30px;
}

#vdo_card .row .card .vdo iframe {
    width: 380px;
    height: 214px;
}

#vdo_card .row .card {
    border-radius: 24px 24px 0 0;
    width: 380px;
    background: #250d44;
    cursor: pointer;
}

#vdo_card .row .card:hover {
    transform: scale(1.08);
    transition: 0.2s;
    border: 1px solid #00ff88;
}

#vdo_card .row .content {
    padding: 24px;
}

#vdo_card .row .content h3 {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

#vdo_card .row .content p {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff60;
    display: inline-flex;
    align-items: center;
}

#vdo_card .row .content p span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

#host {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    ;
}

#host h3 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #ffffff;
}

#host .row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    padding: 40px;
    border-radius: 40px;
    background: #250d44;
}

#host .row .content {
    margin-left: 40px;
}

#host .row .content h1 {
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

#host .row .content p {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff6b;
}

#host .row .content .icons {
    display: flex;
    align-items: center;
}

#host .row .content .icons a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 100%;
}

#host .row .content .icons a:hover {
    transform: scale(1.08);
    transition: 0.2s;
    border: 1px solid #00ff88;
}

#footer .container {
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 412px;
}
#footer .img img{
    margin-top: 120px;
}
#footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

#footer .row .items {
    display: flex;
    align-items: center;
    margin-left: 40px;
    /* justify-content: center; */
}

#footer .row .items p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin-left: 8px;
}
#footer .container p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fafafa;
}